<div id="Admin_Cate">
    <div >
        <div class="p-3">
            <button type="button" class="btn btn-success p-2" data-bs-toggle="modal" data-bs-target="#Add" v-on:click="resetDataCategory">
                Add New Category
            </button>

        </div>
        <table class="table table-bordered" id="category_table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Payment Month
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in dataCategory" :key="index">
                    <td>{{index + 1}}</td>
                    <td>
                        <a href="#" class="text text-success">{{item.name}}</a>
                    </td>
                    <td>
                       {{item.dateSet}}

                    </td>

                    <td style="width: fit-content">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit" v-on:click="getItemsById(item.id)">Edit</button>
                        <button type="button" class="btn btn-danger" v-on:click="getItemsByIdDelete(item.id)">Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-xl ">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Category Name </label>
                                    <input class="form-control" type="text" placeholder="Category Name" aria-label="default input example" v-model="nameCategory">
                                </div>
                              
                                <div class="mb-3">
                                    <label class="form-label">Choose Month</label>
                                    <select v-model="monthChoose">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>


                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="addCategory">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-xl ">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetDataCategory">X</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="form-label">Category Name</label>
                                    <input class="form-control" type="text" placeholder="Tên danh mục" aria-label="default input example" v-model="nameCategory">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Choose Month</label>
                                    <select v-model="monthChoose">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetDataCategory">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="editCategory">Save</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="~/lib/config/datatableconfig.js"></script>

<script src="~/admin/js/adminjs/admin_category.js"></script>
