<div id="Admin_Package">
    <div class="p-3">
        <button type="button" class="btn btn-success p-2" data-bs-toggle="modal" data-bs-target="#Add" v-on:click="resetData">
            Add New
        </button>

    </div>
    <table class="table table-bordered" id="package_table">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Price</th>
                <th>Payment Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item,index) in dataPackage" :key="index">
                <td>{{index + 1}}</td>
                <td>
                    <a href="#" class="text text-success">{{item.name}}</a>
                </td>
                <td>
                    {{formatCurrency(item.price)}}

                </td>
                <td>
                    {{item.nameCategory}}

                </td>

                <td style="width: fit-content">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit" v-on:click="getItemsById(item.id)">Edit</button>
                    <button type="button" class="btn btn-danger" v-on:click="getItemsByIdDelete(item.id)">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="Add" tabindex="-1" aria-labelledby="Add" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetData">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">Name </label>
                                <input class="form-control" type="text" placeholder="Tên" aria-label="default input example" v-model="Name">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input class="form-control" type="text" v-model="Price" placeholder="Price" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select v-model="CategoryID" class="form-control">
                                    <option v-for="tp in dataCategory" :key="tp.id" :value="tp.id">
                                        {{ tp.name }}
                                    </option>
                                </select>

                            </div>


                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetData">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="add">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Edit" tabindex="-1" aria-labelledby="Edit" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetData">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="form-label">Category Name </label>
                                <input class="form-control" type="text" placeholder="Tên " aria-label="default input example" v-model="Name">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Price</label>
                                <input class="form-control" type="text" v-model="Price" placeholder="Price" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Category</label>
                                <select v-model="CategoryID" class="form-control">
                                    <option v-for="tp in dataCategory" :key="tp.id" :value="tp.id">
                                        {{ tp.name }}
                                    </option>
                                </select>

                            </div>


                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="edit">SAve</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/lib/config/datatableconfig.js"></script>

<script src="~/admin/js/adminjs/admin_package.js"></script>