<style>
    .ck.ck-balloon-panel {
        z-index: 2000;
    }
</style>
<div id="drivers_vue">
    <div>
        <div class="p-3">
            <button type="button" class="btn btn-success p-2" data-bs-toggle="modal" data-bs-target="#Add" v-on:click="resetData">
                Add New
            </button>

        </div>
        <table class="table table-bordered" id="drivers_table">
            <thead>
                <tr>
                    <th>No</th>
                    @*<th>IDDriver</th>*@
                    <th>Driver Name</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    @*<th>Telephone</th>*@
                    <th>Experience</th>
                    <th>Email</th>
                    <th>Package Type</th>
                    @*<th>Created Date</th>*@
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in dataDrivers" :key="index">
                    <td>{{index + 1}}</td>
                    @*<td>
                        <a href="#" class="text text-success">{{item.idDriver}}</a>
                    </td>*@
                    <td>
                        {{item.contactPerson}}

                    </td>
                    
                    <td>
                        {{item.address}}

                    </td>
                    <td>
                        {{item.mobile}}

                    </td>
                    @*<td>
                        {{item.telephone}}

                    </td>*@
                    <td>
                        {{item.experience}}

                    </td>
                    <td>
                        {{item.email}}

                    </td>

                    <td>
                        {{item.packageMain.name}}

                    </td>
                    @*<td>
                        {{formatDate(new Date(item.createDate))}}

                    </td>*@
                    <td>
                        <div v-on:click="handleTransaction(item)" v-bind:class="{ 'btn btn-danger ': !item.status, 'btn btn-success': item.status}">
                            <span>
                                {{ item.status ?    'Push top' : 'None' }}
                            </span>

                        </div>
                    </td>

                    <td style="width: fit-content">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Edit" v-on:click="getItemsById(item.id)">Edit</button>
                        <button type="button" class="btn btn-danger" v-on:click="getItemsByIdDelete(item.id)">Delete</button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="Add" data-bs-focus="false" aria-labelledby="Add" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="Add">Add New </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetData">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            @*<div class="mb-3">
                                <label class="form-label">IDDriver </label>
                                <input class="form-control" type="text" placeholder="companyName" aria-label="default input example" v-model="idDriver">
                            </div>*@
                            <div class="mb-3">
                                <label class="form-label">Driver Name </label>
                                <input class="form-control" type="text" placeholder="ContactPerson" aria-label="default input example" v-model="contactPerson">
                            </div>
                           
                            <div class="mb-3">
                                <label class="form-label">Address </label>
                                <input class="form-control" type="text" placeholder="address" aria-label="default input example" v-model="address">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Mobile </label>
                                <input class="form-control" type="text" placeholder="mobile" aria-label="default input example" v-model="mobile">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Telephone </label>
                                <input class="form-control" type="text" placeholder="mobile" aria-label="default input example" v-model="telephone">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">City </label>
                                <input class="form-control" type="text" placeholder="mobile" aria-label="default input example" v-model="City">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Experience </label>
                                <textarea class="form-control" rows="8" type="text" placeholder="Experience" aria-label="default input example" v-model="experience"></textarea>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">Email </label>
                                <input class="form-control" type="email" placeholder="email" aria-label="default input example" v-model="email">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Package Type</label>
                                <select v-model="packageMainID" class="form-control">
                                    <option v-for="tp in dataPackage" :key="tp.id" :value="tp.id">
                                        {{ tp.name }} - {{tp.nameCategory}}
                                    </option>
                                </select>

                            </div>


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea id="editorMain" v-model="ckName"> </textarea>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetData">Close</button>
                    <button type="button" class="btn btn-primary" v-on:click="addItems">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Edit" data-bs-focus="false" aria-labelledby="Edit" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-xl ">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" v-on:click="resetData">X</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            @*<div class="mb-3">
                                <label class="form-label">IDDriver </label>
                                <input class="form-control" type="text" placeholder="companyName" aria-label="default input example" v-model="idDriver">
                            </div>*@
                            <div class="mb-3">
                                <label class="form-label">Driver Name </label>
                                <input class="form-control" type="text" placeholder="ContactPerson" aria-label="default input example" v-model="contactPerson" disabled>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Address </label>
                                <input class="form-control" type="text" placeholder="address" aria-label="default input example" v-model="address" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Mobile </label>
                                <input class="form-control" type="text" placeholder="mobile" aria-label="default input example" v-model="mobile" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Telephone </label>
                                <input class="form-control" type="text" placeholder="mobile" aria-label="default input example" v-model="telephone" disabled>
                            </div> 
                            <div class="mb-3">
                                <label class="form-label">City </label>
                                <input class="form-control" type="text" placeholder="mobile" aria-label="default input example" v-model="City" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Experience </label>
                                <textarea class="form-control" rows="8" type="text" placeholder="Experience" aria-label="default input example" v-model="experience" disabled></textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email </label>
                                <input class="form-control" type="email" placeholder="email" aria-label="default input example" v-model="email" disabled>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Package Type</label>
                                <select v-model="packageMainID" class="form-control" disabled>
                                    <option v-for="tp in dataPackage" :key="tp.id" :value="tp.id">
                                        {{ tp.name }} - {{tp.nameCategory}}
                                    </option>
                                </select>

                            </div>


                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" v-model="ckName" rows="8" disabled> </textarea>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="resetData">Close</button>
                    @* <button type="button" class="btn btn-primary" v-on:click="editItems">Save</button> *@
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {

        $('#Add').modal({
            focus: false,
            show: false
        });
    });

</script>
<script src="~/lib/config/config_ckeditor.js"></script>
<script src="~/lib/config/datatableconfig.js"></script>
<script src="~/admin/js/adminjs/admin_drivers.js"></script>